@model List<ParadaMaquinaModel>
@{
    ViewData["Title"] = "Listagem de Produtos";
}
<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="ParadaMaquina" asp-action="Criar">Adicionar um novo motivo de maquina parada</a>
    </div>

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type = "button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
    </div>
    }
    @if (TempData["MensagemError"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemError"]
        </div>
    }

    <br />
    <br />

    <h1 class="display-4"> Listagem de Motivos de Horas Paradas</h1>

    <table class="table" id="table-paradaMaquina">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Codigo</th>
                <th scope="col">Descrição</th>
                <th scope="col">Contabiliza</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (ParadaMaquinaModel paradaMaquina in Model)
                {
                    <tr>
                        <th scope="row">@paradaMaquina.Id</th>
                        <td>@paradaMaquina.Codigo</td>
                        <td>@paradaMaquina.Descricao</td>
                        <td>@(paradaMaquina.ContabilizaHoraParada == Mafix.Enums.ContabilizaHoraParadaEnum.Contabiliza ? "Sim" : "Não")</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@paradaMaquina.Id" asp-controller="ParadaMaquina" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@paradaMaquina.Id" asp-controller="ParadaMaquina" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            

        </tbody>
    </table>
</div>

